<nav class="nav">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/event/register/spring-2025">Spring 2025 Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/event/register/fall-2025">Fall 2025 Registration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/event/register">General Registration</a>
        </li>
    </ul>
</nav>
